.form-label {
    font-weight: bold;
}

.form-control, .form-select {
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
}

.btn-success {
    background-color: #00ac33;
    border-color: #00ac33;
    color: #ffffff;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #028a0f;
    border-color: #028a0f;
}

.alert {
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
}
